# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/

# Python environments
.venv/
venv/
env/
ENV/

# Data (pesados)
data/raw/
data/interim/
data/processed/*.npy
data/processed/*.parquet
data/processed/*.pkl
data/processed/*.pt

# Models, results and runs - Exclude all and include only final items
models/
!models/final/
results/
!results/final/
runs/
!runs/final/

sources/

# Logs/outputs
logs/
outputs/
.pytest_cache/
.coverage
htmlcov/
.tox/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
junk.ipynb

# LaTeX
*.aux
*.lof
*.log
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.out
*.dvi
*.bbl
*.blg

# IDE
.vscode/
.idea/
*.swp
*.swo
.spyderproject

# OS
.DS_Store
Thumbs.db

# Big files
*.zip
*.tar.gz

# UV/Poetry/Pipenv
poetry.lock
Pipfile.lock
.pdm-*
.pixi

# Environment vars
.env
.envrc

# Docs build
docs/_build/
_site/

# Testing
.hypothesis/
.nox/
.cache/
